.maxWidth{
    width: 100% !important
}


/* In your stylesheet or CSS file */
.custom-header-class .MuiDataGrid-colCell {
  justify-content: center;
  text-align: center;
}



/* Customize scrollbar for webkit-based browsers */
::-webkit-scrollbar {
    width: 4px;
    
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #12A9B2;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-track:hover {
    background-color: #ddd;
  }
  ::-webkit-scrollbar {
    height: 4px;
    
}
  
  ::-webkit-scrollbar-thumb {
    background-color: #12A9B2;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-track:hover {
    background-color: #ddd;
  }